In [4]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [5]:
username= 'root'
password= 'root'

connection = f'mysql+pymysql://{username}:{password}@localhost/Chinook'
engine = create_engine(connection)

In [7]:
a = '''
SHOW TABLES;
'''
pd.read_sql(a,engine)

   Tables_in_chinook
0              album
1             artist
2           customer
3           employee
4              genre
5            invoice
6        invoiceline
7          mediatype
8           playlist
9      playlisttrack
10             track

**1.What is the most a customer has spent on a single purchase and what is their customerId?**

In [12]:
q = '''
SELECT customerId, Total
FROM invoice
ORDER BY Total DESC
LIMIT 1;
'''
pd.read_sql(q,engine)

   customerId  Total
0           6  25.86

**2. What country is the customer with the largest total bill from (from question 2)?**

**3. Which customerID made the fewest purchases (invoices)?**

**4. Retrieve the id, name, and # of playlists for tracks that appear on playlists more than 4 times?**